<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.will.twitterclone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ParseActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />

        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserList"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewFeed"
            android:label="@string/title_activity_view_feed"
            android:parentActivityName=".UserList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.will.twitterclone.UserList" />
        </activity>
    </application>

</manifest>